server
	host    				127.0.0.1
	port    				8011

	error_pages 404 /nfs/homes/ychaaibi/Desktop/test.html


	location /Site/
		allowed_methods	GET
		root /nfs/homes/ychaaibi/Desktop/last/Tests/site/
		index index.html
		autoindex on

	location /Cgi_Php/
		allowed_methods POST GET
		root /nfs/homes/ychaaibi/Desktop/last/Tests/Cgi-Tests/
		index info.php
		cgi_pass	.php

	location /Cgi_Py/
		allowed_methods POST GET
		root /nfs/homes/ychaaibi/Desktop/last/Tests/Cgi-Tests/
		index index.py
		cgi_pass	.py

	location /Pkp/
		allowed_methods DELETE
		root /nfs/homes/ychaaibi/Desktop/last/Tests/Delete/

	location /Upload/
		allowed_methods POST
		upload_pass /nfs/homes/ychaaibi/Desktop/last/Tests/Upload/

